
body{
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  top:50px;
  bottom:50px;
  background-color: rgba(78, 62, 75, 0.5);
}
.box{
width: 250px;
padding: 40px;
position: absolute;
left: 0;
right: 0;
top: 135px;
bottom: 135px;
background: #191919;
text-align: center;
background-color: thistle;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  background: none;
  display: block;
  margin:20px auto;
  text-align: center;
  align-content: center;
  border: 2px solid #3495db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus{
  width: 240px;
  border-color: #e74c3c;
  margin: 0 0 10 10 ;
}
.box input[type = "password"]:focus{
  width: 240px;
  border-color: #e74c3c;
  margin: 0 0 10 10 ;
}
.box input[type = "submit"]{
  background: none;
  display: block;
  margin:20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
